.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 25px;
  margin: 15px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;

  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

.card h3,
.card p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  margin-top: 20px;
}

.active {
  color: blue !important;
}

.cancelled {
  color: red !important;
}

.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
  height: 40px;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-color: #631313;
  border-radius: 6px;
  cursor: pointer;
  background-color: #df5b39;
  transition: background-color 0.3s ease;
}

.cancelButton:hover:enabled {
  background-color: #f4a261;
}

.hidden {
  visibility: hidden;
}

.cardBackground {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dateMessage {
  font-weight: 600;
  color: #df5b39;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  min-width: 130px;
  justify-content: left;
}

.turnTitle {
  text-align: center;
  padding-bottom: 12px;
}

.completed {
  color: rgb(1, 56, 1) !important;
}
.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fffefc;
  max-width: 800px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  gap: 20px;
}

.listItem > * {
  width: 400px;
  text-align: center;
}

.listItem h2 {
  font-size: 12px;
  margin-top: 10px;
  color: #222;
}

.listItem h3,
.listItem p {
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 12px;
  color: #333;
}

.listItem .cancelButton {
  margin-top: 12px;
  font-size: 12px;
  padding: 6px 16px;
  cursor: pointer;
}
