.mainContainer {
  display: flex;
  background-color: rgba(15, 53, 38, 255);
  align-items: center;
  justify-content: space-between;
  padding: 0% 4% 0% 0%;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.logo {
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

.menus {
  display: flex;
  align-items: center;
  gap: 35px;
  color: rgba(236, 141, 36, 255);

  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.hamburguerIcon {
  display: none;
  cursor: pointer;
  z-index: 20;
}

@media (max-width: 950px) {
  .menus {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 200px;

    background-color: rgba(15, 53, 38, 255);
    padding: 20px 0;
    align-items: center;

    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transform: translateY(-100%);
  }

  .hamburguerIcon {
    display: block;
  }

  .menus.open {
    display: flex;
    transform: translateY(0);
  }
}

.userSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.greeting {
  font-size: 1.1rem;
  font-weight: bold;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
}

.logoutLink {
  font-size: 0.8rem;
  color: #0077cc;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 4px;
}

.avatarContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e0e0e0; /* gris claro */
  overflow: hidden;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImage {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.avatarImageFull {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.navLink {
  color: rgba(236, 141, 36, 255); /* color base */
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.navLink:hover {
  color: #d8f3dc;
}

.active {
  color: #d8f3dc;
}
