.title {
  text-align: center;
  margin: 40px 0; /* 40px arriba y abajo, 0 a los lados */
  font-size: 3rem; /* Ajusta según el diseño que quieras */
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem; /* Más pequeño que el h1 */
  color: #b67b38; /* Color gris suave */
  margin-bottom: 30px; /* Espacio debajo del subtítulo */
}

.turnsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.turnCard {
  flex: 0 1 calc(25% - 20px); /* 4 tarjetas en pantalla grande */
  max-width: 300px;
}

/* 3 tarjetas en pantallas medianas */
@media (max-width: 1024px) {
  .turnCard {
    flex: 0 1 calc(33.33% - 20px);
  }
}

/* 2 tarjetas en tablets */
@media (max-width: 768px) {
  .turnCard {
    flex: 0 1 calc(50% - 20px);
  }
}

/* 1 tarjeta en móviles */
@media (max-width: 480px) {
  .turnCard {
    flex: 0 1 100%;
  }
}

.importantNote {
  background-color: #fff3cd; /* fondo amarillo claro */
  color: #856404; /* marrón oscuro para buena lectura */
  border: 1px solid #ffeeba;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.05rem;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.noTurnsMessage {
  text-align: center;
  color: #b67b38;
  font-size: 1.1rem;
  margin: 20px auto;
  max-width: 600px;
}
.filterContainer {
  display: flex;
  justify-content: center;
  margin: 1rem auto 2rem auto;
  border: 1px solid #b67b38;
  border-radius: 30px;
  overflow: hidden;
  width: fit-content;
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 100px;
  background-color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  color: #b67b38;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.filterButton:hover {
  background-color: #f5e3d0;
}

.active {
  background-color: #b67b38;
  color: white;
}
