.activityInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}

.title {
  text-align: center;
  margin: 40px 0; /* 40px arriba y abajo, 0 a los lados */
  font-size: 3rem; /* Ajusta según el diseño que quieras */
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem; /* Más pequeño que el h1 */
  color: #b67b38; /* Color gris suave */
  margin-bottom: 30px; /* Espacio debajo del subtítulo */
}

.card {
  width: 30%; /* Las tarjetas ocupan 30% del ancho de la pantalla */
  max-width: 400px; /* Límite de tamaño máximo */
  min-width: 280px; /* Límite de tamaño mínimo */
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.cardContent {
  padding: 15px;
}

.description {
  font-size: 14px;
  color: #333;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #ff6600;
}

/* Media Queries */
@media (max-width: 768px) {
  .card {
    width: 45%; /* 2 tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%; /* 1 tarjeta por fila en pantallas pequeñas */
  }
}
